.post-card
{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 50px auto;
    border-radius: 0.35em;
    overflow: hidden;
    max-width: 700px;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
    transition: 0.5s all;
}

.post-card.clickeable
{
    cursor: pointer;
}

.post-card.clickeable:hover
{
    opacity: 0.8;
    box-shadow: 0 .20rem 2rem 0 rgba(58, 59, 69, 0.42) !important;
}



.card-preview-image
{
    width: 50%;
    height: 300px;
    background: url("../images/pic01.jpg") center;

}

.card-content
{
    width: 50%;
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
}
.card-data
{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}


.card-date
{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background: #1cc88a;
    color: #FFFFFF;
}

.card-icon
{
    font-size: 1.5em;
    color: #fff;
}

.card-fulldate
{
    text-align: center;
}

.card-place
{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background: #4e73df;
    color: #FFFFFF;
    overflow-wrap: break-word;
}
.location
{
    text-align: center;
}
.card-title
{
    padding: 25px;
    width: 100%;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;

}

.card-date-icon
{
    width: 50%;
    padding: 5px;
    text-align: center;
    background: #1cba80;
}


.card-place-icon
{
    width: 50%;
    background: #4b6ad2;
    padding: 5px;
    text-align: center;
}

.note-icon
{
    display: flex;
    align-items: center;
    padding: 20px;
    background: #4e73df;
}
.note-icon.blue
{
    background: #4e73df;
}

.note-icon.red
{
    background: #e74a3b;
}

.note-icon.gray
{
    background: #858796;
}

.note-icon.yellow
{
    background: #f6c23e;
}
.note-icon.green
{
    background: #1cc88a;
}

.card-title.blue
{
    color: #4e73df;
    background: none;
}

.card-title.red
{
    color: #e74a3b;
    background: none;
}

.card-title.gray
{
    color: #858796;
    background: none;
}

.card-title.yellow
{
    color: #f6c23e;
    background: none;
}
.card-title.green
{
    color: #1cc88a;
    background: none;
}

.note-more
{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

.card-text
{
    text-align: justify;
}


/* SCORE CARDS*/

.post-card.results
{
    flex-wrap: wrap;
}

.result-title
{
    width: 100%;
    padding: 20px;
}

.scores-container
{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
}

.score-data
{
    display: flex;
    flex-direction: row;
    width: 50%;
    align-items: center;
    padding: 15px;
    border-top: #c5c5c5 solid 1px;
    border-right: #c5c5c5 solid 1px;
    justify-content: space-between;
}

.score-data-team
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}
.score-data-team-row
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
}

.data-team
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.data-team-shield
{
    width: 20%;
}

.data-team-shield>img
{
    width: 100%;
    border-radius: 50%;
}

.data-team-name
{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1em;
}


.data-score
{

}

.score-data-date
{
    font-size: 0.8em;
    padding: 5px;
    text-align: center;
}

@media (max-width: 800px) {
    .score-data
    {
        width: 100%;
    }
}

/*CLASSIFICATION CARDS*/

.classification-table
{
    width: 100%;
}



.classification-table td, .classification-table th
{
    text-align: center;
}

.classification-table th
{
    font-weight: lighter;
    color: #929292;
    padding: 10px;
}

.classification-table tr
{
    border-bottom: solid 1px #e2e2e2;
}

.classification-team-name
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.classification-team-shield
{
    padding: 20px;
}

.classification-team-shield>img
{
    width: 1.5em;
    border-radius: 50%;
}

.final-section
{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px;
    border-top: solid 1px #e2e2e2;
}


.final-team-shield
{
    width: 10%;
    text-align: center;
}
.final-team-name
{
    width: 35%;
    text-align: center;
}

.final-team-score
{
    width: 10%;
    text-align: center;
}
.final-team-shield>img
{
    width: 90%;
    border-radius: 50%;
}

/*STATS CARDS*/

.stats-team-name
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.stats-player-image
{
    padding: 20px;
}
.stats-player-image img
{
    width: 2.5em;
    border-radius: 50%;
}

.stats-team-shield img
{
    width: 15px;
    border-radius: 50%;
}

.stat-group
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.sub-team-name
{
    font-size: 0.8em;
    color: #888888;
    margin: 5px;
}

/*CREATOR*/
.create-form
{
    flex-wrap: wrap;
    padding: 20px;
}
.create-form-title
{
    width: 100%;
    padding: 20px;
    font-size: 1.5em;
    color: #555555;
}

.create-form-content
{
    margin: 0 auto;
    width: 80%;
}
.create-content-container
{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.input-container
{
    position: relative;
    width: 100%;
    margin: 10px;
}

.create-input
{
    color: #424242;
    width: 100%;
    background: transparent;
    border-radius: 5px;
    font-size: 1em;
    padding: 10px;
    transition: 0.5s all;
}

.create-input:focus
{
    outline: none;
    border-bottom: solid 1px #65bdff !important;
    box-shadow: 0 1px 0 0 #65bdff !important;
}

.input-field .active
{
    color: #1c82d0 !important;
}

.create-input.valid
{
    outline: none;
    border-bottom: solid 1px #1c82d0 !important;
    box-shadow: 0 1px 0 0 #1c82d0 !important;
}


.text-label{
    color: #888888;
    position: absolute;
    pointer-events: none;
    font-size: 1em;
    padding: 10px;
    transition: 0.5s all;
}


.text-label.min
{
    height: 10px;
    font-size: 0.5em;
    top: -20px;
}

.gender-selector
{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 5px;
    border-radius: 5px;
    overflow: hidden;
}

.create-gender
{
    padding: 10px;
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.5;
    transition: 0.5s all;
    cursor: pointer;
}

.create-gender.blue
{
    background: #4e73df;
}

.create-gender.red
{
    background: #e789cf;
}

.create-gender.gray
{
    background: #858796;
}

.create-gender:hover
{
    opacity: 0.8;
}

.more-button
{
    margin: 20px auto;
    display: flex;
    width: 50px;
    height: 50px;
    color: #fff;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #2196F3;
    transition: 0.5s all;
    cursor: pointer;
}

.more-button:hover
{
    background: #1a76be;
}

.create-data-container
{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.input-field .select-wrapper input.select-dropdown:focus
{
    border-bottom: solid 1px #65bdff !important;
    box-shadow: 0 1px 0 0 #65bdff !important;
}

.dropdown-content li > a, .dropdown-content li > span {
    color: #65bdff;
}

.create-caracteristica-card
{
    padding: 20px;
    border-radius: 5px;
    margin: 20px auto;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
    border-left: solid 5px #2196F3;
}



.more-button-red
{
    margin: 20px auto;
    display: flex;
    width: 50px;
    height: 50px;
    color: #fff;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #ff6359;
    transition: 0.5s all;
    cursor: pointer;
}

.more-button-red:hover
{
    background: #cc4f47;
}

.create-equipo-card
{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    border-bottom: solid 2px #eeeeee;

}


.create-equipo-card-shield img
{
    width: 3em;
    border-radius: 50%;
}

.create-equipo-card-shield
{
    padding: 20px;
}

.create-equipo-card-teamname
{
    padding: 20px;
}

.more-button-red.team
{
    margin: 20px;
}

.more-button-green
{
    margin: 20px auto;
    display: flex;
    width: 50px;
    height: 50px;
    color: #fff;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #63ff5a;
    transition: 0.5s all;
    cursor: pointer;
    opacity: 0.2;
}

.more-button-green:hover
{
   opacity: 1;
}

.more-button-green.selected
{
    opacity: 1;
}

.more-button-green.team
{
    margin: 20px;
}

