.header-detail-title
{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #2196F3;
    color: #FFFFFF;
}
.detail-exit
{
    font-size: 1.5em;
    padding: 5px 15px;
}
.detail-title
{
    padding: 5px 15px;
}


.header-detail
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #2196F3;
    color: white;
    font-size: 0.8em;
    box-shadow: 0px 5px 5px -5px #888888;
}
.header-detail-option
{
    width: 100%;
    text-align: center;
    padding: 10px;
    transition: all .3s ease-in-out;
}

.header-detail-option:hover
{
    background: #2196F3;
    cursor: pointer;
}

.header-detail-option.selected
{
    background: #1d82d2;
    border-bottom: solid #FFFFFF;
}

.inicio-content
{
    display: none;
}

.partidos-content
{
    display: none;
}

.classificacion-content
{
    /*display: none;*/
}